div {
  border: 1px solid blue;
  background-color: green;
  margin-left: 5px;
}

//шапка
.header {
  position: absolute;
  width: 98%;
  margin: 5px;
  height: 60px;	
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_form {
	position: relative;
	float: right;
	right: 5px;
	top: 5px;
}

//стили списка новостей

.news_descriptions_list div {
	margin-bottom: 5px;
	background-color: lightgray;
}

//первый элемент списка новостей
.news_descriptions_list div:first-child{
  margin-top: 5px;
}

.news_descriptions_list {
	margin-top: 120px;
  padding-top: 5px;
	background-color: yellow;
}

.news_block{
  padding-left: 5px;
  padding-right: 5px;
}

.news_name, .news_date {
  display: inline-block;
}

.edit_button {
	position: relative;
	float: right;
	top: 5px;
}

//блок нумерации страниц
.num_page button {
  display: inline-flex;
}

.num_page {
  text-align: center;
}
