body {
	background-color: silver;
}
div {
  border: 1px solid gray;
  background-color: lightgray;
  margin-left: 5px;
}


/*шапка*/ 
#page_header {
	position: fixed;
	top: 20px;
	left: 0px;
  width: 100%;
  height: 60px;
  z-index: -1;
}

#page_header h1 {
  margin-top: 8px;
  padding-left: 1px;
}

.login_form {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 2;
	height: 50px;
	border: none;
}

.login_form h4 {
	margin: 0;
	padding: 0;
}

/*стили списка новостей*/
.short_news_list div {
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
}

.short_news_list {
	margin-top: 5px;
  padding-top: 65px;
	background-color: gray;
}

.full_text_news {
	margin-top: 5px;
  padding-top: 65px;
	background-color: lightgray;
}

.short_news_block {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: lightgray;
  border: 2px solid green;
}

.short_news_block:hover {
  border: 1pt solid blue;
}

.news_name, .news_date {
  display: inline-block;
  max-width: 70%;
  border: 1px solid blue;
}

.news_date {
	position: relative;
	float: right;
	max-width: 30%;
	top: 8px;
	right: 10px;
}

.buttons_edit_delete .button_news_edit button{
	width: 100%;
	padding-bottom: 5px;
}

.buttons_edit_delete {
	position: relative;
	float: right;
	width: auto;
	top: 5px;	
	border: none;
}

.short_news_block {
	text-decoration: none;
	cursor: pointer;
}

/*блок нумерации страниц*/
.num_page button {
  display: inline-flex;
}

.num_page {
  text-align: center;
}

.login_form #ahtung {
	color: red;
}

.short_news_form {
	display: none;
	border: 0 solid white;
}

.area_edit_news {
	/*display: inline-block;*/
	width: 100%;
}

.full_news_view {
	font-family: sans-serif;
}

.button_add_news {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
