div {
  border: 1px solid blue;
  background-color: green;
  margin-left: 5px;
}


/*шапка*/ 
#page_header {
	position: fixed;
	top: 0px;
	left: 0px;
  width: 100%;
  height: 50px;
  /*background-color: gray;*/
  z-index: 1;
}

#page_header h1 {
  margin-top: 8px;
  padding-left: 20px;
}

.login_form {
	position: fixed;
	top: 0px;
	right: 5px;
	z-index: 2;
	height: 50px;
}

.login_form h4 {
	margin: 0;
	padding: 0;
}

/*стили списка новостей*/
.news_descriptions_list div {
	margin-bottom: 5px;
	background-color: lightgray;
}

/*первый элемент списка новостей*/
.news_descriptions_list .news_block:first-child{
  margin-top: 45px;
}

.news_descriptions_list {
	margin-top: 5px;
  padding-top: 5px;
	background-color: yellow;
}

.news_block{
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: lightgray;
  border: 1px solid white;
}

.news_block:hover {
  border: 1pt solid blue;
}

.news_name, .news_date {
  display: inline-block;
}

.news_date {
	position: relative;
	float: right;
	top: 8px;
	right: 10px;
}

.edit_button {
	position: relative;
	float: right;
	top: 5px;
}

.news_block a p{
	text-decoration: none;
}

/*блок нумерации страниц*/
.num_page button {
  display: inline-flex;
}

.num_page {
  text-align: center;
}

.login_form #ahtung {
	color: red;
}