div {
  border: 1px solid blue;
  background-color: green;
  margin-left: 5px;
}

.header {
  display: flex;
  position: absolute;
  width: 99%;
  margin: 5px;	
}

h1, .button_enter {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.news_descriptions_list {
	margin-top: 100px;
  padding-top: 5px;
	background-color: yellow;
}

.news_descriptions_list div {
	margin-bottom: 5px;
	background-color: lightgray;
}

//первый элемент списка новостей
.news_descriptions_list div:first-child{
  margin-top: 5px;
}

.num_page button {
  display: inline-flex;
  //align-items: center;

}
.num_page {
  //align-content: center;
  text-align: center;
  //align-items: center;
}

.news_block{
  padding-left: 5px;
  padding-right: 5px;
}

.news_name, .news_date {
  display: inline-block;
}